@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Mapo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: "Inter";
  color: #222;
  overflow-x: hidden;
  overflow-y: auto;
}
p {
  font-family: "Mapo";
  font-weight: 500;
  color: #444;
}
